{% extends 'main_platform/base.html' %}

{% block content %}
    {% load static %}
    <section class="hero is-link is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-10-tablet is-8-desktop is-10-widescreen">
                        <div class="is-size-3 ">
                            Erreur : veuillez vous assurer que vous avez ajouté un métier et une adresse à votre compte
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}